body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

header {
 padding-bottom: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

.hero-title {
  background-color: #03045E;
  color: white;
  padding: 60px 20px;
  text-align: left;
}

.hero-title h1 {
  font-family: "Fascinate Inline", system-ui;
  font-size: 4rem; 
  margin: 0;
}
